@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic,700);


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import url('https://fonts.cdnfonts.com/css/avenir');

                


body {
    font-size: 1.75rem;
                                                                        font-family: 'Avenir', sans-serif;
                                                
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 48px;
    padding-bottom: 10px;
}

h1 a, h1 a:hover {
    color: #444444;
    text-decoration: none;
}

.table > thead > tr > th { 
    white-space: nowrap;
}

.about {
    font-size: 2rem;
}

/* center the nav pills */
.centered-pills {
    text-align: center
}
.centered-pills ul.nav-pills {
    display: inline-block
}
.centered-pills li {
    display: inline
}
.centered-pills a {
    float: left
}
* html .centered-pills ul.nav-pills, *+html .centered-pills ul.nav-pills {
    display: inline
}

.headshot {
    max-width: 50px;
}

.nowrap {
    white-space: nowrap;
}

.label-dem {
    color: #0294C7;
}

.label-rep {
    color: #D1220E;
}

.label-ind {
    color: #418B07;
}

#contactModal {
    font-size: 0.9em;
}

.filter_level label {
    padding-left: 7px;
    padding-right: 7px;
}

#results-nav span {
    padding-right: 20px;
}

a {
    color:rgb(135,169,34)
    
}

a:hover {
    color: rgb(17,66,50);
}

.btn-info, .btn-info:hover {
    background: rgb(17,66,50) !important;
}

.btn-default, .btn-default:hover {
    background: rgb(135,169,34) !important;
}

input[type='checkbox'] {
    accent-color: rgb(17,66,50);
}